
Options +FollowSymLinks
RewriteEngine On
RewriteRule ^in-en$ index.html

RewriteRule ^in-en/request-for-services$ request-for-services.html 
RewriteRule ^in-en/services/dedicated-team-on-demand$ dedicated-team-on-demand.html 
RewriteRule ^in-en/services/enterprise-app-development$ enterprise-app-development.html 
RewriteRule ^in-en/services/startup-app-development$ startup-app-development.html 
RewriteRule ^in-en/us$ us.html 