:root {
    --black-color:#021622;
    --red-color:#EB1515;
    --white-color:#ffffff; 
    --dark-green-color:#ffffff; 
    --light-blue-color:#F9FBFF;
}
.text-black{color:var(--black-color) !important}
.bg-black{background-color: var(--black-color)!important;}

.text-red{color:var(--red-color) !important}
.bg-red{background-color: var(--red-color)!important;}

.text-white{color:var(--white-color) !important}
.bg-white{background-color: var(--white-color)!important;}

.text-light-blue{color:var(--light-blue-color) !important}
.bg-light-blue{background-color: var(--light-blue-color)!important;}
/* global properties */
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--black-color);
    line-height: 1.6;
    font-weight: 400;
    transition: all 1.3s ease-out;
}
.paragraph{font-size: 18px !important;line-height: 1.6;}
ul{padding: 0;margin: 0;}
h1,h2,h3,h4,h5,h6{font-weight: 700;}
h1{font-size: 54px;line-height: 75px;}
h2{font-size: 40px;line-height: 62px;}
h3{font-size: 36px;line-height: 50px;}
h4{font-size: 26px;}
h5{font-size: 24px;}
h6{font-size: 20px;}
.font-20{font-size: 20px;}
.fw-600{font-weight: 600;}
.fw-500{font-weight: 500;}
.bg-none{background-color: transparent;background: transparent;}
.theam-button{
    text-decoration: none;
    color: var(--white-color) !important;
    font-weight:500;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 4px;
}
.black-btn{background: var(--black-color);}
.red-btn{background: var(--red-color);}

button:focus{box-shadow: none !important;border-color:transparent}

 /* {
    z-index: 1;
	mix-blend-mode: difference;
	transition: all 0.3s ease-out;
}  */

.cursorA{
	position: fixed;
	pointer-events: none;
	opacity: 0; /* Hide cursor Top Left */
	top: 0;
	left: 0;
	width: 13px;
	height: 13px;
	background: white;
	border: 2.2px solid white;
	border-radius: 50%;
	mix-blend-mode: exclusion;
}

/* navigation */
.main-menu.stickey{background: var(--white-color);transition: all 0.5s ease-in-out;box-shadow: 0px 4px 4px rgba(2, 22, 34, 0.15);}
.main-menu{
    padding: 1rem 0;transition: all 0.5s ease-in-out;
}
.offcanvas-body .navbar-nav li {
    padding: 0 1.5rem;    align-self: center;
}
.offcanvas-body .navbar-nav li a{
    color: var(--black-color);
    text-decoration: none;
    font-size: 16px !important;
    font-weight: 500;
}
.offcanvas-body .navbar-nav li .dropdown-toggle::after{
    border: 0;
    content: '\f107';
    font-family: 'FontAwesome';
    vertical-align: baseline;
}
.main-menu .navbar-nav .dropdown-menu {
    border: 0;
    box-shadow: 0px 4px 4px rgb(2 22 34 / 15%);
    border-radius: 8px;
    margin-top: 1rem !important;
    padding-bottom: 1rem;
}
.main-menu .navbar-nav .dropdown-menu a{
    padding: 0.5rem;
}
.main-menu .open,.main-menu .close {
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.main-menu .close {
    content: '+';
    font-size: 4rem;
    color: red;
    font-weight: 100;
    transform: rotate(45deg);
}
.bar1,  .bar2, .bar3 {background-color: var(--black-color);width: 25px;height: 2px;margin: 5px 0;transition: 0.4s;}
    .sticky-header .bar1, .sticky-header .bar2, .sticky-header  .bar3 {background-color: #000;}
     .bar3 {width: 14px;}
    .change .bar3 {-webkit-transform: rotate(45deg) translate(-3px, -4px);transform: rotate(45deg) translate(-3px, -4px);width:100%}
    .change .bar1 {-webkit-transform: rotate(-45deg) translate(-1px, 2px);transform: rotate(-45deg) translate(-1px, 2px);}
    .change .bar2{display: none;}

.main-menu  .overlay {
  position: fixed;
  width: 0;
  top: 0;
  background-color: var(--white-color);
  overflow-x: hidden;
  height: 100%;
  transition: 0.5s;
  right: 0;
  box-shadow: rgb(34 34 34 / 20%) 10px 10px 20px 20px;
  
}

.overlay-content {
  text-align: right;
  position: relative;
  width: 100%;
  padding-right:5rem;
  padding-bottom: 8rem;
}

.overlay-content a {
  font-size: 52px;
  font-weight: 700;
  color: var(--black-color);
  display: block;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  position: relative;
  padding: 0.5rem 0;
}
.overlay-content a:hover{
    margin-right: 1rem;
    transition: all 0.5s ease-in-out;
    color: var(--red-color);
}
.overlay-content a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.3s;
  display: block;
}
.social-media ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1rem;
}
.menu-contact a {
    text-decoration: none;
    color: var(--red-color);
    margin: 0.4rem 0;
    display: inline-block;
    font-size: 18px;
}
.contact-menu{
    padding: 0rem 5rem 0;
}
/* Footer */
.footer-top{padding: 5rem 0;}
footer a{
    color: var(--white-color);
    text-decoration: none;
}
.footer-top .border-right{border-right: 1px solid #D9D9D9;}
.footer-bottom p{color: var(--white-color);opacity: 0.5; font-size: 14px;}
.footer-bottom ul li{list-style-type: none;display: inline-block; margin:0 0.5rem;}
/* Home-page */
.who-we-are{margin-bottom: 2rem;}
.who-we-are p{opacity: 0.5;}

.multi-platform{padding: 5rem 0;}
.primary-card{
    background: var(--light-blue-color);
    border: 1px solid #F9FBFF;
    border-radius: 16px 16px 0px 0px;
    padding: 1.5rem;height: 100%;
}
.primary-card h4 {
    padding-bottom: 2rem;
    display: inline-block;
    margin-bottom: 0;
}
.border-line:after {
    content: '';
    width: 5rem;
    height: 2px;
    background:#D9D9D9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.primary-card .card-footer{border-top: 2px solid #D9D9D9;}
.primary-card .card-footer ul {padding-left: 1rem;}
.primary-card .card-footer ul li{padding: 0.15rem 0;}

.experts {
    background: var(--light-blue-color);
    border-radius: 12px;
    padding: 1rem 1.5rem;
    text-align: center;
    height: 100%;
}
.experts p{
    margin-bottom: 0;
    font-size: 12px;
    opacity: 0.5;
    margin-top: 1rem;
}
.certify img{
    filter: brightness(0);
}
.faq-items{
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 2rem;
}
.faq-items .accordion{
    border: 0;
    --bs-accordion-border-color: unset;
}
.faq-items .accordion-item:not(:last-child){
    border-bottom: 1px solid #D9D9D9;
}
.faq-items .accordion-item button{background-color: transparent;font-size: 18px;padding: 0.5rem 1.5rem;color: var(--black-color);}
.faq-items .accordion-item .accordion-body{padding-top: 0;}
.faq-items .accordion-item .accordion-body p{opacity: 0.5;}

.service-path:after {
    content: '';
    width: 70%;
    height: 1px;
    background: var(--red-color);
    position: absolute;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
.service-path .experts{position: relative;}
.path-top:after{top:0;width: 77.5%;}
.service-path.path-bottom .experts:after,.service-path.path-top .experts::before{
    content: '';
    height: 1.5rem;
    width: 1px;
    background: var(--red-color);
    position: absolute;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
.service-path.path-top:before {
    content: '';
    width: 1px;
    height: 1.5rem;
    position: absolute;
    background: red;
    top: -1.5rem;
    margin: auto;
    left: 0;
    right: 0;
}
.service-path.path-bottom .experts:after{bottom: -1.5rem;}
.service-path.path-top .experts::before{top:-1.5rem}