:root {
    --black-color:#021622;
    --red-color:#EB1515;
    --white-color:#ffffff; 
    --dark-green-color:#ffffff; 
    --light-blue-color:#F9FBFF;
}
.text-black{color:var(--black-color) !important}
.bg-black{background-color: var(--black-color)!important;}

.text-red{color:var(--red-color) !important}
.bg-red{background-color: var(--red-color)!important;}

.text-white{color:var(--white-color) !important}
.bg-white{background-color: var(--white-color)!important;}

.text-light-blue{color:var(--light-blue-color) !important}
.bg-light-blue{background-color: var(--light-blue-color)!important;}
/* global properties */
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--black-color);
    line-height: 1.6;
    font-weight: 400;
    transition: all 1.3s ease-out;
}
.cursorA{
    z-index: 9999;
	mix-blend-mode: difference;
	transition: all 0.3s ease-out;
}
.paragraph{font-size: 18px !important;line-height: 1.6;}
ul{padding: 0;margin: 0;}
h1,h2,h3,h4,h5,h6{font-weight: 700;}
h1{font-size: 54px;line-height: 75px;}
h2{font-size: 40px;line-height: 62px;}
h3{font-size: 36px;line-height: 50px;}
h4{font-size: 26px;}
h5{font-size: 24px;}
h6{font-size: 20px;}
.font-20{font-size: 20px;}
.fw-600{font-weight: 600;}
.fw-500{font-weight: 500;}
.bg-none{background-color: transparent;background: transparent;}
.theam-button{
    text-decoration: none;
    color: var(--white-color) !important;
    font-weight:500;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 4px;
    transition: all ease 0.5s;
    position: relative;
    overflow: hidden;
}
.black-btn{background: var(--black-color);}
.red-btn{background: var(--red-color);}
.theam-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(transparent));
    background: linear-gradient(right, #ffffff, transparent);
    -webkit-animation: right 2s linear infinite;
    animation: right 2s linear infinite;
}
.theam-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(transparent));
    background: linear-gradient(left, #ffffff, transparent);
    -webkit-animation: left 2s linear infinite;
    animation: left 2s linear infinite;
}
.theam-button span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(transparent));
    background: linear-gradient(top, #ffffff, transparent);
    -webkit-animation: top 2s linear infinite;
    animation: top 2s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.theam-button span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent));
    background: linear-gradient(bottom, #ffffff, transparent);
    -webkit-animation: bottom 2s linear infinite;
    animation: bottom 2s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes left {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  @keyframes left {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  @-webkit-keyframes right {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  @keyframes right {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  @-webkit-keyframes top {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  @keyframes top {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  @-webkit-keyframes bottom {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
  
  @keyframes bottom {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }
button:focus{box-shadow: none !important;border-color:transparent}
.form-control:focus{box-shadow: none !important;border: 1px solid var(--black-color);opacity: 1;}
 /* {
    z-index: 1;
	mix-blend-mode: difference;
	transition: all 0.3s ease-out;
}  */

.cursorA{
	position: fixed;
	pointer-events: none;
	opacity: 0; /* Hide cursor Top Left */
	top: 0;
	left: 0;
	width: 13px;
	height: 13px;
	background: white;
	border: 2.2px solid white;
	border-radius: 50%;
	mix-blend-mode: exclusion;
}

/* navigation */
.main-menu.stickey{transition: all 0.5s ease-in-out;box-shadow: 0px 4px 4px rgba(2, 22, 34, 0.15);}
.main-menu{
    padding: 1rem 0;transition: all 0.5s ease-in-out;background: var(--white-color);
}
.navbar-nav li {
    padding: 0 1.5rem;    align-self: center;
}
.navbar-nav li a{
    color: var(--black-color);
    text-decoration: none;
    font-size: 16px !important;
    font-weight: 500;
}
.navbar-nav li .dropdown-toggle::after{
    border: 0;
    content: '\f107';
    font-family: 'FontAwesome';
    vertical-align: baseline;
}
.main-menu .navbar-nav .dropdown-menu {
    border: 0;
    box-shadow: 0px 4px 4px rgb(2 22 34 / 15%);
    border-radius: 8px;
    margin-top: 1rem !important;
    padding-bottom: 1rem;
}
.offcanvas{width: 80% !important;}
.main-menu .navbar-nav .dropdown-menu a{
    padding: 0.5rem;
}
.main-menu .open,.main-menu .close {
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.main-menu .close {
    content: '+';
    font-size: 4rem;
    color: red;
    font-weight: 100;
    transform: rotate(45deg);
}
.bar1,  .bar2, .bar3 {background-color: var(--black-color);width: 25px;height: 2px;margin: 5px 0;transition: 0.4s;}
    .sticky-header .bar1, .sticky-header .bar2, .sticky-header  .bar3 {background-color: #000;}
     .bar3 {width: 14px;}
    .change .bar3 {-webkit-transform: rotate(45deg) translate(-3px, -4px);transform: rotate(45deg) translate(-3px, -4px);width:100%}
    .change .bar1 {-webkit-transform: rotate(-45deg) translate(-1px, 2px);transform: rotate(-45deg) translate(-1px, 2px);}
    .change .bar2{display: none;}

.main-menu  .overlay {
  position: fixed;
  width: 0;
  top: 0;
  background-color: var(--white-color);
  overflow-x: hidden;
  height: 100%;
  transition: 0.5s;
  right: 0;
  box-shadow: rgb(34 34 34 / 20%) 10px 10px 20px 20px;
  
}

.offcanvas-body{
  text-align: right;
  position: relative;
  width: 100%;
}
.offcanvas.offcanvas-end {
    padding-right: 5%;
}
.offcanvas-body a,.offcanvas-body .navbar-nav li a {
  font-size: 52px;
  font-weight: 700;
  color: var(--black-color);
  display: block;
  text-decoration: none;
  /* transition: all 0.5s ease-in-out; */
  transition: 300ms;
  position: relative;
  /* padding: 0.5rem 0; */
}
.offcanvas-body a:hover{
    /* margin-right: 1rem; */
    transform: scale(1.001);
    /* transition: all 0.5s ease-in-out; */
    color: var(--red-color);
}
.offcanvas-body a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.3s;
  display: block;
}
.social-media ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1rem;
}
.menu-contact{text-align: left;}
.menu-contact a {
    text-decoration: none;
    color: var(--red-color);
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
}
.social-media ul li:last-child {
    margin-right: 0;
}
.dropdown-menu li a:hover{background-color: transparent;}
/* Footer */
.footer-top{padding: 5rem 0;}
footer a{
    color: var(--white-color);
    text-decoration: none;
}
.footer-top .border-right{border-right: 1px solid #D9D9D9;}
.footer-bottom p{color: var(--white-color);opacity: 0.5; font-size: 14px;}
.footer-bottom ul li{list-style-type: none;display: inline-block; margin:0 0.5rem;}
/* Home-page */
.who-we-are{margin-bottom: 2rem;}
.who-we-are p{opacity: 0.7;}

@keyframes cursor {
    from { border-color: var(--black-color); }
    to { border-color: transparent; }
}
.typewriter span {
    /* border-right: solid var(--black-color) 10px;  */
    position: relative;
    animation: cursor 1s ease-in-out infinite;
}
.typewriter span:after{
    content: '_';
    width: 2rem;
    height: 10rem;
    color: var(--black-color);
}
.multi-platform{padding: 5rem 0;}
.primary-card{
    background: var(--light-blue-color);
    border: 1px solid #F9FBFF;
    border-radius: 16px;
    padding: 1.5rem;height: 100%;
}
.primary-card h4 {
    padding-bottom: 2rem;
    display: inline-block;
    margin-bottom: 0;
}
.what-wedo-card .body-content {
    min-height: 130px;
}
.what-wedo-card .card-footer {
    min-height: 15rem;
}
.border-line:after {
    content: '';
    width: 5rem;
    height: 2px;
    background:#D9D9D9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.primary-card .card-footer{border-top: 2px solid #D9D9D9;}
.primary-card .card-footer ul {padding-left: 1rem;}
.primary-card .card-footer ul li{padding: 0.15rem 0;}

.experts {
    background: var(--light-blue-color);
    border-radius: 12px;
    padding: 1rem 1.5rem;
    text-align: center;
    height: 100%;
}
.experts p{
    margin-bottom: 0;
    font-size: 12px;
    opacity: 0.5;
    margin-top: 1rem;
}
.certify img{
    filter: brightness(0);
}
.faq-items{
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 2rem;
}
.faq-items .accordion{
    border: 0;
    --bs-accordion-border-color: unset;
}
.faq-items .accordion-item:not(:last-child){
    border-bottom: 1px solid #D9D9D9;
}
.faq-items .accordion-item button{background-color: transparent;font-size: 18px;line-height:32px;padding: 1rem 1.5rem;color: var(--black-color);}
.faq-items .accordion-item .accordion-body{padding-top: 0;}
.faq-items .accordion-item .accordion-body p{opacity: 0.5;}

.service-path:after {
    content: '';
    width: 70%;
    height: 1px;
    background: var(--red-color);
    position: absolute;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
.service-path .experts{position: relative;}
.path-top:after{top:0;width: 77.5%;}
.service-path.path-bottom .experts:after,.service-path.path-top .experts::before{
    content: '';
    height: 1.5rem;
    width: 1px;
    background: var(--red-color);
    position: absolute;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
}
.service-path.path-top:before {
    content: '';
    width: 1px;
    height: 1.5rem;
    position: absolute;
    background: red;
    top: -1.5rem;
    margin: auto;
    left: 0;
    right: 0;
}
.service-path.path-bottom .experts:after{bottom: -1.5rem;}
.service-path.path-top .experts::before{top:-1.5rem}
/* contact us */
.contact-form{padding: 10rem 0 5rem;}
.contact-form form label{
    margin-bottom: 0.5rem;font-size: 18px;
}
.contact-form form label span{opacity:0.5;font-size: 14px;}
.form-group{
    margin-bottom: 2rem;
}
.form-control{
    border: 1px solid var(--black-color);
    padding: 0.8rem 1rem;
    border-radius: 8px;
    opacity: 0.2;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label{color: var(--white-color);}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--black-color);
    background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--black-color);
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: -1;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.choose-option label{font-size: 16px !important;color: var(--black-color);margin-bottom: 0 !important;padding: 9px 15px;width: 100%;font-weight: 500;}
.choose-option {
    margin-bottom: 4rem;
}
.choose-option h3{
    margin-bottom: 2rem;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input {border-radius: 4px;background: var(--black-color);}
  .file-upload  label{
    align-content: center;
    display: inline-block !important;
  }
  .custom-file-input::before {
    /* content: url('../images/upload.png')' Upload File'; */
    content: '\f0ee  Upload File';
    color: var(--white-color);
    display: inline-block;
    /* background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3); */
    /* border: 1px solid #999; */
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--black-color);
    padding: 0.8rem 1rem;
    border-radius: 8px;
    text-align: center;
    font-family: 'FontAwesome';
  }
  .custom-file-input:hover::before {
    border-color: black;
  }
  .custom-file-input:active {
    outline: 0;
  }
  .custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }

  /* who we are */
  .text-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}
.team-card h5{max-width: 70%;margin: auto;}
.team-card p{font-size: 14px;}

/* Steps start up */
.process-steps{
    max-width: 1000px;
    margin: auto;
    position: relative;
    background: url(../images/path-line.png);
    background-repeat: no-repeat;
    background-size: 75% 85%;
    background-position-x: 45%;
    background-position-y: 15%;
}
.step-block{
    background: #FFF8F8;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50%;
}
.step-block p{
    font-size: 14px;
}
.step-block.right-step {
    margin-left: auto;
    margin-top: -4rem;
}
.step-block h2 {
    position: absolute;
    left: 5%;
    top: 5%;
}
.work-card p{font-size: 14px;}
table thead{
    background: var(--black-color);
}
table tr{border: 1px solid var(--black-color)}
table thead tr th{ color: var(--white-color);border: 1px solid var(--black-color);}
table tr th,table tr td{padding: 0.8rem 1.2rem !important;font-size: 18px;font-weight: 400;color: var(--black-color);border: 1px solid var(--black-color)}


/* media queries starts */
@media(min-width:992px){
    .show-responsive{display: none;}
}
@media(max-width:991px){
    .show-desktop{display: none;}
    h1 { font-size: 46px; line-height: 65px;}
    h3 {font-size: 32px;line-height: 48px;}
    .main-banner.vh-100 {
        height: 100% !important;
        padding: 12rem 0 5rem;
    }
    .believe-banner img {
        height: 300px;
        object-fit: cover;
        margin-bottom: 2rem;
    }
    .team-card h5{max-width: 100%;}
    .step-block.right-step{margin-top:3rem;margin-bottom: 3rem;}
    .path-top:after{    width: 83.5%;}
    li{list-style-type: none;}
    .offcanvas-body a, .offcanvas-body .navbar-nav li a{font-size: 30px;padding: 0.4rem 0;}
    li.dropdown .dropdown-toggle {padding-right: 2rem;}
    .offcanvas-body a:after {
        left: unset;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }
    .menu-contact a {
        font-size: 16px;
    }
    .offcanvas-body .dropdown-menu {
        border: 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgb(2 22 34 / 15%);
        border-radius: 8px;padding: 1rem 2rem;
        right: 0 !important;
        left: unset !important;
    }
    .offcanvas-body .dropdown-menu li a{
        font-size: 18px;font-weight: 400;
    }
    .offcanvas-body .dropdown-menu li a:hover{background-color: transparent;}
}
@media(max-width:767px){
    .font-20 {font-size: 16px;}
    .main-banner.vh-100{padding: 8rem 0 5rem;}
    .main-banner img{margin-top: 2rem;}
    h1 {font-size: 36px;line-height: 52px;}
    h2 {font-size: 30px;line-height: 46px;}
    h3 {font-size: 26px;line-height: 42px;}
    h5 {font-size: 20px;}
    .multi-platform {padding: 2rem 0;}
    .multi-platform img{width: 8rem;margin-bottom: 0 !important;}
    .platform-item,.certify img{margin-bottom: 2rem;}
    .faq-items{padding: 1rem 0;}
    .footer-top {
        padding: 5rem 0 2rem;
    }
    .main-banner h1 br{display: block;}
    br{display: none;}
    
    .step-block{
        width: 280px;
        height: 280px;margin: auto;
    }
    .step-block.right-step{margin:3rem auto;}
    .step-block h2{font-size: 24px;}
    .step-block img {
        width: 3rem;
        margin-bottom: 1rem !important;
    }
    .step-block p {
        font-size: 10px;
    }
    .step-block.right-step:last-child{margin-bottom: 0;}
    .process-steps{background: none;}
    .menu-contact a {
        font-size: 14px;
    }
}